[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lancedb = "*"
tantivy = "*"
pypdf = "*"
duckduckgo-search = "*"
pyright = "*"
yfinance = "*"
loguru = "*"
openai = "*"
exa-py = "*"
agno = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
